<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] assignment4</title>
    <base href="~/" />
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    <environment names="Development">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>
</head>
<body class=@ViewData["bodyClass"]>
    <div class="">
        @RenderBody()
    </div>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
