<div class="mx-4 mt-2">
    <div class="py-2">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <div class="text-dark h3 p-0 m-0">Shopping List</div>
                        <small class="text-secondary">List of items that are avaialble to shop</small>
                    </div>
                    <div class="col-md-3">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                                <span class="glyphicon glyphicon-plus"></span> Create Item
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="shoppingItem.length > 0" class="row">
        <div *ngFor="let item of shoppingItem" class="col-md-4 my-3">
            <a class="no-text-decoration" href="/item/{{item.id}}">
                <div class="bg-white rounded shadow-hover">
                    <div class="p-3 px-4">
                        <h3 class="text-primary">{{item.title}}</h3>
                        <div class="text-dark">{{item.description}}</div>
                    </div>
                    <div class="">
                        <img src={{item.url}} class="w-100 rounded-bottom" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>